<!-- Validation failure messages -->

<% if @tenancy.errors.any? %>
<% @tenancy.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Tenancy</h3>
      </div>
      <div class="panel-body">
        <form action="/create_tenancy" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <div class="form-group">
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
          </div>

          <!-- Label and input for category_id -->
          <div class="form-group">
            <label for="property_id" class="col-sm-2 control-label">
              Property
            </label>
            <div class="col-sm-10">
              <%= select_tag(:property_id, options_from_collection_for_select(Property.all, :id, :property_name, @tenancy.property_id), :class => "form-control") %>
            </div>
          </div>

          <div class="form-group">
            <input type="hidden" name="city" value="<%= current_user.id %>">
          </div>

          <div class="form-group">
            <input type="hidden" name="state" value="<%= current_user.id %>">
          </div>

          <div class="form-group">
            <input type="hidden" name="zipcode" value="<%= current_user.id %>">
          </div>

          <div class="form-group">
            <input type="hidden" name="street_number" value="<%= current_user.id %>">
          </div>

          <div class="form-group">
            <input type="hidden" name="street_name" value="<%= current_user.id %>">
          </div>

          <!-- Label and input for city -->
<!--           <div class="form-group">
            <label for="city" class="col-sm-2 control-label">
              City
            </label>
            <div class="col-sm-10">
              <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%#= @tenancy.city %>">
            </div>
          </div> -->

          <!-- Label and input for state -->
<!--           <div class="form-group">
            <label for="state" class="col-sm-2 control-label">
              State
            </label>
            <div class="col-sm-10">
              <input type="text" id="state" name="state" placeholder="State" class="form-control" value="<%#= @tenancy.state %>">
            </div>
          </div> -->

          <!-- Label and input for zipcode -->
<!--           <div class="form-group">
            <label for="zipcode" class="col-sm-2 control-label">
              Zipcode
            </label>
            <div class="col-sm-10">
              <input type="text" id="zipcode" name="zipcode" placeholder="Zipcode" class="form-control" value="<%#= @tenancy.zipcode %>">
            </div>
          </div> -->

          <!-- Label and input for street_number -->
<!--           <div class="form-group">
            <label for="street_number" class="col-sm-2 control-label">
              Street number
            </label>
            <div class="col-sm-10">
              <input type="text" id="street_number" name="street_number" placeholder="Street number" class="form-control" value="<%#= @tenancy.street_number %>">
            </div>
          </div> -->

          <!-- Label and input for street_name -->
<!--           <div class="form-group">
            <label for="street_name" class="col-sm-2 control-label">
              Street name
            </label>
            <div class="col-sm-10">
              <input type="text" id="street_name" name="street_name" placeholder="Street name" class="form-control" value="<%#= @tenancy.street_name %>">
            </div>
          </div> -->

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Tenancy
              </button>
              or
              <a href="/tenancies">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
