<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tenancy #<%= @tenancy.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Property</dt>
              <dd><%= @tenancy.property_id %></dd>

              <dt>User</dt>
              <dd><%= @tenancy.user_id %></dd>

              <dt>City</dt>
              <dd><%= @tenancy.city %></dd>

              <dt>State</dt>
              <dd><%= @tenancy.state %></dd>

              <dt>Zipcode</dt>
              <dd><%= @tenancy.zipcode %></dd>

              <dt>Street number</dt>
              <dd><%= @tenancy.street_number %></dd>

              <dt>Street name</dt>
              <dd><%= @tenancy.street_name %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/tenancies" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/tenancies/<%= @tenancy.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_tenancy/<%= @tenancy.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
